@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/****************  Cabeçalho  ********************/

header {
    min-width: 300px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: grid;
    justify-content: center;
}

#menuHamb {
    height: 30px;
    display: grid;
    place-items: center center;
}

#menu {
    padding: 10px;
    display: none;
    text-align: center;
}

nav {
    padding: 3px;
}

nav > a {
    padding: 2px 14px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px;
}

nav> a:hover {
    background-color: rgba(255, 255, 255, 0.161);
}

/**************** Main *********************/

main {
    margin: 10px;
    max-width: 768px;
    margin: auto;
}

/****************  Mural  ********************/

.mural {
    min-width: 300px;
    height: 650px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#muralitem {
    display: flex;
    flex-direction: column;
    text-align: center;

}

#muralitem > h1, #muralitem > p {
    padding: 5px;
}


.imgiverson {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.17);
}

.mural>div {
    display: grid;
    justify-items: center;
    margin-top: 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}

/*************  Sobre Mim + Projetos ***************/

.sobremim,
.projetos {
    min-width: 300px;
    max-width: 768px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px;
}

.sobremim>h2, .projetos>h2 {
    padding: 20px 0px 20px 0px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}

/****************  Sobre Mim  ********************/

.sobremimtexto>p {
    text-align: justify;
    padding: 0px 30px 30px 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}

.imgiverson2 {
    display: none;
}
/****************  Projetos  ********************/

.cxprojetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items:flex-end;
}

.cxprojetos>div>p{
    font-weight: bolder;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.070);
    padding: 10px 0px 5px 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.072);
}

.imgs {
    width: 134px;
    height: 134px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.607);
    border-radius: 5px;
}

/****************  Contato  ********************/
#contatos{
    min-width: 300px;    
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 768px;    
    height: 120px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items:center;
}
.icones {
    width: 60px;
    height: 60px;
    border-radius:50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.607);
    border: 0px solid rgba(255, 255, 255, 0);
    transition: border 0.20s;
}

.icones:hover{
    border: 3px solid white;
    transition: border 0.40s;
}

#iL:hover,#iG:hover,#iE:hover,#iW:hover { top:10%; transition: top 0.5s;}

.cxcontato>p{
    display:none;
    color: rgba(0, 0, 0, 0.552);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.072);
}
/****************  Rodapé  ********************/

footer {
    min-width: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 10px;
    font-size: 0.75em;
}