@charset "UTF-8";


@media screen and (min-width:769px) and (max-width:1365px) {
   
#menuHamb {
    display:none;
} 

#menu {
    display: flex;
}

.mural {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.imgiverson {
    margin-right: 10px;
}

.sobremim {
    display:flex ;
    align-items: center;
}

.sobremim>h2{
    margin: 0px 5px 0px 25px;
    padding: 0px;
}

.sobremimtexto {
    margin: 20px;
}

.sobremimtexto>p{
    padding: 20px 0px;
}
.projetos>h2 {
    padding: 20px 0px 35px 0px;
}

.bigcxprojetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs {
    width: 155px;
    height: 155px;
}

.icones{
    width: 70px;
    height: 70px;
}

}

@media screen and (min-width:1366px) {

    #menuHamb {
        display:none;
    } 
    
    #menu {
        display: flex;
    }
    
    .mural {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
    
    .imgiverson {
        margin-right: 10px;
    }
    
    .sobremim {
        display:flex ;
        align-items: center;
    }
    
    .sobremim>h2{
        margin: 0px 5px 0px 25px;
        padding: 0px;
    }
    
    .sobremimtexto {
        margin: 20px;
    }
    
    .sobremimtexto>p{
        padding: 20px 0px;
    }
    .projetos>h2 {
        padding: 20px 0px 35px 0px;
    }
    
    .bigcxprojetos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgs {
        width: 185px;
        height: 185px;
    }

    .icones{
        width: 70px;
        height: 70px;
    }

}