@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

p , h1 , h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.186);
}

body {
    min-width: 300px;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
}

/********************* MENU *********************/

header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#menuHamb {
    color: white;
}

#menuHamb:hover {
    color:rgb(124, 123, 123)
}

#menu {
    display: none;
}

.nav_opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_opcoes a {
    padding: 4px;
    color: white;
}

.nav_opcoes a:hover {
    color: rgb(0, 106, 255);
}

.menu_grande {
    display: none;
}

/********************* MAIN *********************/

.conteiner_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************** FOTO E TITULO *****************/

.section_iverson {
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .section_iverson > .img_foto_iverson {
    width: 175px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.285);
}

.section_iverson > h1 {
    margin-top: 8px;
}

/***************** CONTATOS ********************/

.section_contatos {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_logo_tags {
    padding: 2px;
    width: 260px;
    transition: all 0.2s;
}

.img_logo_tags:hover {
    margin-bottom: 1.9px;
    width: 250px;
    transition: all 0.2s;
}

section > .sobre-descricao {
    padding: 5px 0px 15px 0px;
    width: 250px;
    display: none;
}

section > .sobre-descricao p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.089);
}



/****************** LOGOS *********************/



/***************** FOOTER *********************/

footer {
    padding: 5px;
    font-size: 0.75em;
    text-align: center;
    color:rgba(255, 255, 255, 0.807);
    background-color: rgba(0, 0, 0, 0.152);
}