@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400;500;700&display=swap');

:root {
    --fonte_titulo:'Great Vibes', cursive;
    --fonte_subtitulo:  ;
    --fonte_texto: 'Tsukimi Rounded', sans-serif ;
    --background_white: rgb(255, 255, 255);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.182);
}

* {
    margin: 0px;
    padding: 0px;
    transition: all 0.8s;
}

a {
    text-decoration: none;
    color: black;
}

p , h1 , h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

p {
    font-family: var(--fonte_texto);
    font-weight: 500;
}

body {
    min-width: 300px;
    background: white url("../imagens/teste-fundo1.png") fixed no-repeat;
    background-size: cover;
}

/********************* MENU *********************/

header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#menuHamb {
    color: white;
}

#menuHamb:hover {
    color:rgb(124, 123, 123)
}

#menu {
    display: none;
}

.nav_opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_opcoes a {
    padding: 4px;
    color: white;
}

.nav_opcoes a:hover {
    color: rgb(0, 106, 255);
}

/************* REDES SOCIAIS RIGHT ***************/

.conteiner-big-box{
    display: none;
}

.big-box-redes {
    margin-right: 15px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.box-redes {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.icones-redes {
    margin-bottom: 5px;
    width: 50px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    transition: all 0.15s;
    box-sizing: border-box;
}

.icones-redes:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.15s;
    
}

/**************** TITULO PRINCIPAL ***************/

.titulo-nome {
    display: none;
    margin: 10px 0px;
    padding: 20px 0px;
    text-align: center;
    background-color: var(--background_white);
}

.titulo-nome h1 {
    font-family: var(--fonte_titulo);
    font-size: 4.2em;
    letter-spacing: 5px;
    color: rgb(0, 76, 123);
    
}

.titulo-nome p , .section_iverson > p {
    font-weight: 700;
}

/********************* MAIN *********************/

.conteiner_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section_iverson {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.img_foto_iverson {
    margin-bottom: 10px;
    width: 175px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.section_iverson > h1 {
    font-family: var(--fonte_titulo);
    font-size: 2.6em;
    letter-spacing: 4px;
    color: rgb(0, 76, 123);
}

.section_iverson > p {
    font-size: 0.9em;
}

.box-skill-left {
    display: none;
}

.section-botoes {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_logo_tags {
    padding: 3px;
    width: 285px;
    transition: all 0.2s;
}

.img_logo_tags:hover {
    padding-bottom: 4px ;
    width: 280px;
    transition: all 0.2s;
}

#tag-sobre2 {
    display: none;
}

.sobre-descricao {
    margin-bottom: 20px;
    padding: 5px 0px 15px 0px;
    width: 270px;
    border-radius: 3px;
    background-color: var(--background_white);
    box-shadow: var(--box-shadow);
}

.sobre-descricao p {
    padding: 10px 15px;
    text-align: justify;
    text-indent: 20px;
}

.box-skill-level {
    margin-bottom: 15px;
    width: 270px; 
}

.skill-level {
    display:flex;
    justify-content: space-around;
    margin: 5px 0px;
}

.img-skill {
    margin-bottom: 5px;
    border-radius: 5px;
    width: 40px;
}

#tag-diretorio {
    display: none;
}

.big-box-diretorio, .box-certificado, .box-outrosprojetos {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 270px;
}

.box-diretorio-left, .box-diretorio-right, .certificado, .outrosprojetos {
    margin-bottom: 7px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--background_white);
}

.diretorio-icone, .certificado, .outrosprojetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.certificado, .outrosprojetos {
    margin: 3px 0px;
    padding: 5px;
}

.diretorio-icone p, .certificado p {
    width: 200px;
    font-size: 0.9em;
}

.img-diretorio-icone, .img-certificado, .img-outrosprojetos {
    width: 50px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.diretorio-descricao, .box-coluna {
    display: none;
}



/****************** RODAPÉ *********************/

.box-contatos {
    display: flex;
    justify-content: center;
    margin: 0px 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(0, 0, 0);
}

.contatos-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 15px 0px;
    
}

.icones-logo {
    width: 50px;
    border-radius: 50%;
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
    transition: all 0.1s;
}

.icones-logo:hover {
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.1s;
}

footer {
    margin-top: -1px;
    padding: 10px 5px;
    font-size: 0.75em;
    text-align: center;
    margin: 0px 4px;
    color:rgba(255, 255, 255, 0.676);
    background-color: rgb(0, 0, 0);
    box-shadow: var(--box-shadow);
}