@charset "UTF-8";

@media  screen and (min-width:600px) and (max-width:767px) {

/********************** MAIN ********************/

    .section_iverson {
        width: 450px;
    }

    .img_foto_iverson {
        width: 250px;
    }

    .img_logo_tags {
        width: 460px;
    }

    .img_logo_tags:hover{
        width: 449px;
        padding-bottom: 5px;
    }   
    
    .sobre-descricao {
        width: 430px;
    }

    .box-skill-level {
        width: 440px;
    }

    .img-skill {
        width: 65px;
    }

/****************** RODAPÉ *********************/

    .contatos-logos {
        width: 315px;
    }

    .icones-logo {
        width: 60px;
    }
}

@media  screen and (min-width:768px) and (max-width:991px) {

/********************* MENU *********************/
    
    #menuHamb, #menu {
        display: none;
    }

/************ REDES SOCIAIS RIGHT ***************/

    .conteiner-big-box {
        display: block;
    }

/********************* MAIN ***********************/

    .section_iverson {
        margin-top: 0px;
        width: 450px;
    }

    .img_foto_iverson {
        width: 250px;
    }

    .img_logo_tags {
        width: 460px;
    }

    .img_logo_tags:hover{
        width: 449px;
        padding-bottom: 5px;
    }   
    
    .sobre-descricao {
        width: 430px;
    }

    .box-skill-level {
        width: 430px;
    }

    .img-skill {
        width: 65px;
    }

/*****************  RODAPÉ  ********************/

    .contatos-logos {
        display: none;
    }

    footer {
        border-radius: 5px 5px 0px 0px;
    }
    
}

@media  screen and (min-width:992px) and (max-width:1199px) {

/********************* MENU *********************/
    
    #menuHamb, #menu {
        display: none;
    }

    .conteiner-big-box {
        display: block;
    }

    .conteiner_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

/**************** TITULO PRINCIPAL ***************/

    .titulo-nome {
        display: block;
    }

/********************* MAIN *********************/

    .section_iverson {
        margin-top: 0px;
        width: 250px;
    }

    .section_iverson h1, .section_iverson p {
        display: none;
    }

    .img_foto_iverson {
        margin-right: 25px;
        width: 250px;
    }

    .box-botoes-tags {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 740px;
    }

    .img_logo_tags {
        width: 550px;
    }

    .img_logo_tags:hover {
        width: 550px;
        padding-bottom: 5px;
    }   
    
    #tag-sobre {
        display: none;
    }

    #tag-sobre2{
        display: block;
    }

    .sobre-descricao {
        display: block;
        width: 530px;
    }

    .box-skill-level {     
        width: 520px;
    }

    .img-skill {
        width: 75px;
    }

/********************* RODAPÉ *********************/

    .contatos-logos {
        display: none;
    }

    footer {
        border-radius: 5px 5px 0px 0px;
    }
}

@media  screen and (min-width:1200px) {
    
}