@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    transition: all 0.8s;
}

a {
    text-decoration: none;
    color: black;
}

p , h1 , h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.186);
    text-align: center;
}



body {
    min-width: 300px;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
}

/********************* MENU *********************/

header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#menuHamb {
    color: white;
}

#menuHamb:hover {
    color:rgb(124, 123, 123)
}

#menu {
    display: none;
}

.nav_opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_opcoes a {
    padding: 4px;
    color: white;
}

.nav_opcoes a:hover {
    color: rgb(0, 106, 255);
}

/************* REDES SOCIAIS RIGHT ***************/

.conteiner-big-box{
    display: none;
}

.big-box-redes {
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.box-redes {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.icones-redes {
    margin-bottom: 5px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.315);
    transition: all 0.15s;
    box-sizing: border-box;
}

.icones-redes:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.15s;
    
}

/**************** TITULO PRINCIPAL ***************/

.titulo-nome {
    display: none;
    text-align: center; 
}

/********************* MAIN *********************/

.conteiner_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section_iverson {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.img_foto_iverson {
    width: 175px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.285);
}

.section_iverson > h1 {
    margin-top: 8px;
}

.box-skill-left {
    display: none;
}

.section-botoes {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_logo_tags {
    padding: 3px;
    width: 285px;
    transition: all 0.2s;
}

.img_logo_tags:hover {
    padding-bottom: 4px ;
    width: 280px;
    transition: all 0.2s;
}

#tag-sobre2{
    display: none;
}

.sobre-descricao {
    margin-bottom: 10px;
    padding: 5px 0px 15px 0px;
    width: 270px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
    display: none;
}

.sobre-descricao p {
    padding: 10px 15px;
    text-align: justify;
    text-indent: 20px;
}

.box-skill-level {
    display: none;
    width: 270px; 
}

.skill-level {
    display:flex;
    justify-content: space-around;
    margin: 5px 0px;
}

.img-skill {
    margin-bottom: 5px;
    border-radius: 5px;
    width: 40px;
}

.big-box-diretorio {
    display: flex;
    flex-direction: column;
    width: 275px;
}

.box-diretorio-left, .box-diretorio-right {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
    border-radius: 5px;
}

.diretorio-icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.diretorio-icone p {
    width: 200px;
}

.img-diretorio-icone {
    width: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
}

.diretorio-descricao, .box-coluna {
    display: none;
}

/****************** RODAPÉ *********************/

.box-contatos {
    display: flex;
    justify-content: center;
    margin: 0px 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(0, 0, 0);
}

.contatos-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 15px 0px;
    
}

.icones-logo {
    width: 50px;
    border-radius: 50%;
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
    transition: all 0.1s;
}

.icones-logo:hover {
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.1s;
}

footer {
    margin-top: -1px;
    padding: 10px 5px;
    font-size: 0.75em;
    text-align: center;
    margin: 0px 4px;
    color:rgba(255, 255, 255, 0.676);
    background-color: rgb(0, 0, 0);
}